*.md
*.txt
**/**
!requirements.txt
!pymipspipeline
!pympp
!pympp/**
!doc
!doc/**
!pyproject.toml
!README.md
!.gitignore
!ui/
!ui/**
!run_server.py
!.dockerignore
!docker-compose.yml
!Dockerfile
**/__pycache__/**
**/.mypy_cache/**
**/__pycache__